<div class="container">

    <div class="image_fond">


        <div class="icon_menu">
            <!-- // accueil  -->
            <div class="accueil">
                <div class="icon">
                    <i class="ri-home-5-line active"></i>
                    <p>
                        Accueil
                    </p>
                </div>
            </div>
            <!-- // CV  -->
            <div class="cv">
                <div class="icon">
                    <i class="ri-user-line"></i>
                    <p>
                        Mon CV
                    </p>
                </div>
            </div>
            <!-- // PortFolio  -->
            <div class="protfolio">
                <div class="icon">
                    <i class="ri-chat-quote-fill"></i>
                    <p>
                        PortFolio
                    </p>
                </div>
            </div>
            <!-- // Contact  -->
            <div class="contact">
                <div class="icon">
                    <i class="ri-contacts-line"></i>
                    <p>
                        Contact
                    </p>
                </div>
            </div>
        </div>








        <div class="rectangle">
            <div class="image_restangle">
                <img src="../../assets/images/rect.png" alt="">
            </div>
        </div>




    </div>

</div>