.image_fond {
    background-image: url('../../assets/images/fond.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.image_restangle {
    width: 500px;
    height: 630px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.image_restangle img {
    width: 100%;
    height: 100%;
    opacity: 0.6
}

.mon_image {
    width: 380px;
    height: 480px;
}

.mon_image img {
    width: 100%;
    height: 100%;
    margin: 80px 0 0 80px;
    border-radius: 20px;
    box-shadow: rgba(69, 240, 46, 0.164) -5px 5px, rgba(85, 240, 46, 0.123) -10px 10px, rgba(46, 240, 104, 0.089) -15px 15px, rgba(46, 240, 56, 0.1) -20px 20px, rgba(46, 240, 46, 0.05) -25px 25px;
}

